<?xml version="1.0"?>
<config>
    <modules>
        <Totm_SagePayRecurringRewrite>
            <version>0.1.1</version>
        </Totm_SagePayRecurringRewrite>
    </modules>
    <global>
        <models>
            <sagepay_recurring>
                <rewrite>
                    <recurring_profile_payment>Totm_SagePayRecurringRewrite_Model_Recurring_Profile_Payment</recurring_profile_payment>
                    <observer>Totm_SagePayRecurringRewrite_Model_Observer</observer>
                </rewrite>
            </sagepay_recurring>
        </models>
        <blocks>
            <sagepay_recurring>
                <rewrite>
                    <adminhtml_sales_order_view_tab_paymentSchedule>Totm_SagePayRecurringRewrite_Block_Adminhtml_Sales_Order_View_Tab_PaymentSchedule</adminhtml_sales_order_view_tab_paymentSchedule>
                </rewrite>
            </sagepay_recurring>
        </blocks>
        <helpers>
            <sagepayrecurringrewrite>
                <class>Totm_SagePayRecurringRewrite_Helper</class>
            </sagepayrecurringrewrite>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sagepayrecurringrewrite>
                    <file>totm/sagepayrecurringrewrite.xml</file>
                </sagepayrecurringrewrite>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sagepayrecurringrewrite after="Mage_Adminhtml">Totm_SagePayRecurringRewrite_Adminhtml</sagepayrecurringrewrite>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>